{
  "presets": [
    [
      "@babel/preset-env", 
      {
        "bugfixes": true,
        "targets": "> 0.5%, not dead" 
      }   
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false,
        "version": "^7.10.3"
      }
    ]
  ]
}
